.trash-can {
  cursor: pointer;
}

/* .trash-can:hover {
  filter: invert(13%) sepia(93%) saturate(7491%) hue-rotate(11deg) brightness(98%) contrast(125%);
    
} */

.trash-can:hover {
  filter: invert(62%) sepia(7%) saturate(1453%) hue-rotate(232deg) brightness(98%) contrast(88%);
}



.tabs{
  height: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-grow: 1; */
}

.dashboard-tab{
  flex-grow: 1;
  border-radius: 2rem;
}


.input{
  background-color: var(--lightest);
  min-width: auto;
  /* width: 70vw; */
}

.step{
  border: .5rem solid var(--darkerblur);
  margin-top: 1rem;
  background-color: var(--light);
  /* padding: 1rem; */
  display: flex;
  border-radius: 2rem;
  width: 100%;
  

}
.dashboard-header{
  text-align: center;
}

.goal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: var(--padding);
  /* border: 2px solid var(--darkblur); */
  background-color: var(--middleblur);
  padding: var(--padding);
  border-radius: 2rem;
}
input.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

input.checkbox:hover {
  outline: 2px solid #ad90c1;
}
.dropdown {
  margin: 1rem;
}

#dropdown-basic-button {
  color: black;
  background-color: var(--purple);
  border: 2px solid var(--light);
}

.update-goal-btn {
  border: 2px solid var(--light);
  padding: .5rem;
}

.update-goal-btn:hover {
  outline: 2px solid #ad90c1;
}