.trash-can {
  cursor: pointer;
}

/* .trash-can:hover {
  filter: invert(13%) sepia(93%) saturate(7491%) hue-rotate(11deg) brightness(98%) contrast(125%);
    
} */

.trash-can:hover {
  scale: 1.25;
}





.input {
  background-color: var(--lightest);
  min-width: auto;
  /* width: 70vw; */
}

.step {
  margin-top: 1rem;
  background-color: var(--light);
  /* padding: 1rem; */
  display: flex;
  border-radius: 2rem;
  width: 100%;


}

.goal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: var(--padding);
  /* border: 2px solid var(--darkblur); */
  background-color: var(--middleblur);
  padding: var(--padding);
  border-radius: 2rem;
}

input.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

input.checkbox:hover {
  outline: 2px solid var(--purple);
}

/* .dropdown {
  margin: 1rem;
}

#dropdown-basic-button {
  color: black;
  background-color: var(--purple);
  border: 2px solid var(--light);
} */

.update-goal-btn {
  /* border: 2px solid var(--purple); */
  padding: .5rem;
  background-color: var(--lightpurple);
}

.update-goal-btn:hover {
  outline: 2px solid var(--purple);
}
