.body {
    background-color: rgb(83, 14, 14);
}

.assistStep {
    height: 200px;
    width: 320px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 20px;
}

.stepAi {
    height: 200px;
    width: 320px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
}

.stepImage {
    height: 200px;
    width: 320px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.paragraphStep {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.goalTitle {
    color: black;
    margin-top: 0px;
    margin-left: 160px;
    font-size: larger;
    font-family: fantasy;

}

.markComplete {
    margin-left: 10px;
    margin-top: 40px;
}

.checkbox1 {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 40px;
}

.form-control {
    margin-top: 40px;
    margin-right: 20px;
}

.ms-2-1 {
    margin-top: 40px;
    margin-right: 90px;
    margin-left: 10px;
}


